<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nopa's Blog</title>
    <style type="text/css">
    header{
        height: 40px;
        background-color: #33CCFF
    }
    header>h1{
        color:black;
    }
    footer{
        background-color: #33CCFF
        height:20px;
    }
    </style>
</head>
<body>
    <header>
        <h1>Nopa's Blog</h1>
    </header>
    <section class="content">
        {% block content %}
        {% endblock %}
    </section>
    <footer>
        <p>copyright @2017</p>
    </footer>
</body>
</html>